@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-1-1 #menu-toggle:checked+#menu,
.navbar-1-1 #menu-toggle:checked+#menu+#menu {
    display: block;
}

.align-sub {
    vertical-align: sub;
}


@layer components {
    .accordion-header {
        @apply py-4 px-6 cursor-pointer
    }

    .accordion-header.active i {
        @apply transition-all ease-in-out duration-500;
        transform: rotateX(180deg)
    }

    .accordion-body {
        @apply max-h-0 overflow-hidden transition-all duration-200 ease-out
    }

    .card {
        @apply bg-white relative p-6 rounded-[26px] flex flex-col gap-y-4 md:max-w-[500px]
    }

    .input-field {
        @apply placeholder:text-gray-70 text-black py-[11px] px-6 rounded-[100px] outline outline-[1.4px] outline-gray-70 focus:outline-primary-blue
    }

    .btn {
        @apply rounded-full py-[11px] px-9 font-semibold text-center capitalize
    }

    .btn-primary {
        @apply bg-primary-blue text-white
    }

    .text-head-company {
        @apply font-normal font-base text-heading-3 md:text-heading-2;
    }

    .text-desc-company {
        @apply font-base text-heading-5 md:text-heading-4 mt-4 mb-4;
    }

    .text-attr-company {
        @apply font-base text-heading-5 md:text-heading-4;
    }

    .test-btn {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    }

    .text-detail-base {
        @apply text-[8px] md:text-heading-6 lg:text-sm-1 bg-blue-200 text-blue-500 font-base font-bold w-max rounded-lg
    }

    .tem-details-flex-img {
        @apply flex-none shrink-0 md:max-w-sm mx-auto rounded-lg overflow-hidden
    }

    .profile-state-support {
        @apply hidden md:flex
    }

    .set-li-details {
        @apply pl-0 transition-all
    }

    .set-li-details, .set-li-details a {
        @apply text-[14px] md:text-heading-5 lg:text-[1rem] my-3 w-full block
    }

    .set-li-details.active {
        @apply pl-2 border-s-2 border-s-primary-blue transition-all text-primary-blue
    }

    * {
        scroll-behavior: smooth;
    }

    a.active {
        @apply text-blue-500
    }

    .cust-1::-webkit-scrollbar {
        display: none;
    }

    .title-detail {
        @apply text-[16px] md:text-heading-5 font-bold mb-2
    }

    .desc-detail {
        @apply text-[14px] md:text-heading-6 lg:text-sm
    }

    .side-dash-nav {
        @apply flex p-3 w-full transition-all w-60 relative relative
    }

    .side-dash-nav.side-active {
        @apply text-base text-primary-shineblue font-bold bg-blue-5 rounded-lg border-l-0 lg:border-l-4 border-b-4 lg:border-b-0 border-primary-shineblue transition-all
    }

    li.NavSection {
        @apply block mb-1 transition-all
    }

    li.NavSection:hover {
        @apply bg-primary-shineblue text-white rounded-md transition-all
    }

    li.NavSection.active {
        @apply bg-primary-shineblue text-white rounded-md transition-all
    }

    li.NavSection a {
        @apply block py-2 px-4 w-full
    }

    html {
        @apply text-base
    }

    .btn-add {
        @apply py-2 w-full flex border text-green-500 border-green-500 hover:bg-green-500 hover:text-white cursor-pointer transition-all justify-center text-[14px] md:text-heading-5 lg:text-sm
    }

    .btn-plus {
        @apply py-2 w-full flex text-white bg-green-500 cursor-pointer transition-all justify-center text-[14px] md:text-heading-5 lg:text-sm
    }

    .btn-remove {
        @apply py-2 w-full flex text-white bg-red-500 cursor-pointer transition-all justify-center text-[14px] md:text-heading-5 lg:text-sm
    }

    .disabled-btn {
        @apply py-2 w-full flex text-gray-200 bg-gray-30 cursor-default transition-all justify-center text-[14px] md:text-heading-5 lg:text-sm
    }

    .input-card {
        @apply transition-all duration-300 flex flex-col
    }

    .customized-btn {
        @apply py-2 px-4 text-[14px] md:text-heading-5 lg:text-sm bg-blue-500 text-white rounded-md transition-all
    }

    .coll-active {
        @apply mt-[4px] md:mt-2 border-red-500 text-red-500 hover:text-white hover:bg-red-500
    }

    .btn-submit {
        @apply w-full py-2 text-[14px] md:text-heading-5 lg:text-sm bg-blue-500 text-white
    }
}